{% extends 'include/compare.html' %}
{% load static %}

{% block content %}
    <div class="s-f-header">

        <div class="row-m">
        
            <div class="h-i-menu col"><img src="{% static 'assets/svg/justify-left.svg' %}"></div>
            <div class="col header-title"><p  >PcCheck</p> </div>
            <div class="col right-menu">gn hjvchj</div>
        </div>
            
        
    </div>
    <div class="main-content ">

    <div class="c-content">
        <div class="banner-side-bar">
            <img src="{% static 'assets/img/banner-gdaed2979b_1920.png' %}">
        </div>
        <div class="show-card">
            <div class="title-layout">
                <h4>Title</h4>
                <a href="#">More</a>
            </div>

                            <ul class="list-card">

                <li class="show-data ">
                    <a href="#">
                    <img class="s-full" src="{% static 'assets/img/6558428.jpg' %}">
                    </a>
                </li>
                <li class="show-data ">
                    <img class="s-full" src="{% static 'assets/img/6558428.jpg' %}">
                </li>
            </ul>


        </div>
    </div>

    </div>
    
        

{% endblock %}