.cardview {
margin: 10px 0;
width: 180px;
height: 250px;
border-radius: 20px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
cursor: pointer;
transition: 0.4s;
position: relative;
}

.cardview .card_image {

 width: inherit;
  height: inherit;
  border-radius: 20px;
}

.cardview .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}

.cardview .card_Title {

   border-radius: 0px 0px 20px 20px;
   font-family: sans-serif;

    font-size: 9px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    background-color: rgba(0,0,0,0.3);

   height: 40%;
}
.cardview .card_Title h4{
    font-size: 0.9rem;
    font-weight: bold;
}

.cardview:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


@media only screen and (max-width: 600px) {
    .cardview {
        margin: 30px auto;
        width: 200px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;
    }

    .cardview .card_Title {


        font-size: 10px;


    }
}