#traffic_check{
    position: relative;
    background-color: white;
    border: 2px solid black;

}
#traffic_check ul{
    position: absolute;
    bottom: 0;


}

#book_add_pic{
    display: none;
}