.content{
    position: relative;
    background-color: red;



}

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.main-menu {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    bottom: 0;
    height: 100%;
    z-index: 400;
    left: 0;
    width: 55px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: hidden;
    opacity: 1;
}

.scrollbar {
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.scrollbar:hover {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
nav.main-menu ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
nav.main-menu ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.main-menu>ul {
    margin:7px 0;

}
.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}
.main-menu li:hover {
    background-color: red;

}
.main-menu li>a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #8a8a8a;
    font-size: 13px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top: 1px solid #f2f2f2;
    text-shadow: 1px 1px 1px #fff;
}
.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}
/* Scrollbar Style */



#style-1::-webkit-scrollbar-track
{
    border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BFBFBF;
}

.main-content{
    margin-left: 55px;
    margin-top: 80px;
}
.fasside{
    font-size: 30px; color: Tomato;text-align: center
}
#image_add_show{
    width: 170px;
    height: 100px;

    margin: 20px;
    margin: 10px;

}
.main-contents{

	display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: lightyellow;

}
.main-content{
    display: inline-block;
}

