#right_side{
    width: 310px;
    height: 100vh;
    background-color:white ;
    display: inline-block;

}
#category_form{
    width: 100%;
    position: relative;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}
