<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheed" href="{% static "" %}{{ link.bootstrapcss }}">
    <script src="{% static "" %}{{ link.jquery }}"></script>
    <script src="{% static "" %}{{ link.popper }}"></script>
    <script src="{% static "" %}{{ link.bootstrapjs }}"></script>


</head>
<body>

    <main>
    <div 
    </main>




    
</body>
</html>