<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "" %}{{ link.bootstrapcss }}">
    <script src="{% static "" %}{{ link.jquery }}"></script>
    <script src="{% static "" %}{{ link.popper }}"></script>
    <script src="{% static "" %}{{ link.bootstrapjs }}"></script>
    <link rel="stylesheet" href="{% static "" %}{{ link.plopleadmin }}">


  <!--link href="{{ link.googleicon }}" rel="stylesheet"-->
    <link rel="stylesheet" href="{% static "" %}{{ link.fontawesome }}">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


    <div class="leftside">
        <ul class="side-item-list">
            <div class="item-menu">


                <span style="font-size: 3rem;margin: 5px">
  <span style="color: Mediumslateblue;">
  <i class="fas fa-home"></i>
  </span>
</span>
                <h4>
                    Dashboard
                </h4>




            </div>
        </ul>

    </div>





    
</body>
</html>



<script type="9e39ecb53abafc3dcc9255aa-text/javascript">window.onICMerchantSDKReady = function() {
ICMerchantSDK.init({
"merchantKey": "b955b695-74d5-4309-8ca4-b0bfffca079c",
"onSDKInit": function() {
    var priceText = document.querySelector('.product-price').innerText;
    var string = document.querySelector('.product-price').innerText;
    var newString = string.replace("₹", "");
    if (priceText) {
        var price = (newString);
ICMerchantSDK.showCEWidget({
phoneNumber: "",
loanAmount: price,
productEAN: "",
size: "regular",
pageType: "pdp",
},
"flexmoney");
}
},
});
}</script>