@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');

.shae-dis{
    position: absolute;
    top: 50%;

  left: 50%;
margin: -100px 0 0 -150px;
    background-color: white;
    width: 300px;
    height: 100px;


}
.shae-dis div{
    margin-top: 30px;
    text-align: center;
    text-space: 50px;

}
.shae-dis div a{
    letter-spacing: 30px;
}
.share-data{
    display: none;
    background-color: white;
    position: fixed;



    height: 100vh;

    width: 100%;

    background-color: rgba(0,0,0,0.3);


}
#share{
    color: #007bff;
     margin-left: 10px;
    cursor: pointer;
}

#book_img{
    width: 100%;

}
.book_img_frame{

    text-align: center;
}
.load_frame{
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
    padding: 0 5px;

}
.button5{
    background-color: #396fa0;
    color: white;
    box-shadow: 0 0 8px 2px #888;
    padding: 0 5px 0 5px;
    border-radius: 5px ;
}
#download_load{

    float: right;


}
#online_load{

    float: left;

}
.title_frame_show{
padding: 10px 0;
font-family: Yantramanav;
    overflow-y: hidden;
}
.item_abaut{
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin: 20px 0;
    box-shadow: 0 0 5px 5px #817b7b;
}
.downlod_fr{
    display: none;
    height: 200px;
    width: 80%;
    position: fixed;
    background-color: #333;

    margin: auto;
    top: 0;
    border-radius: 5px;
    z-index: 1005;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 0 10px 2px #333;

}
.downlod_fr h4{
    margin-top: 15px;
    font-size: 15px;
    font-weight: bolder;
    color: bisque;
    
}
.downlod_sh{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.downlod_sh .right{
    float: right;
    margin-right: 10px;
}
.downlod_sh .left{
    float: left;
    margin-left: 10px;

}


.vies_frame{
    padding: 10px 2px;
    font-size: 30px;

}
.vies_frame div{
    margin-left: 6px;
    display: inline-block;


}
.vies_frame div a{
    padding: 2px 6px;
}
.vies_frame #view{
    display: inline-block;
    float: right;
    margin-right: 10px;
        color: #007bff;


}
#view i {
}
.item-des{
    font-family: Cambay;
}


#donation{

font-family: 'Dancing Script', cursive;
}
.info-title{
    text-align: center;
font-weight: bold;
}