@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.listviewul{
    list-style-type: none;
}
.listviewul li{
    display: inline-block;
    margin: 10px 5px;
}
.downlod_fr h4{
    font-family: Lobster;
}
#main-title{
    font-family: Orelega One;
   

}

.loader { 
    display: none;
    width:100%; 
    margin:0 auto;
    border-radius:10px;
    border:4px solid transparent;
    position:relative;
    padding:1px;
  }
  .loader:before {
    content:'';
    border:1px solid #fff; 
    border-radius:10px;
    position:absolute;
    top:-4px; 
    right:-4px; 
    bottom:-4px; 
    left:-4px;
  }
  .loader .loaderBar { 
    position:absolute;
    border-radius:10px;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    background:#fff; 
    width:0;
    animation:borealisBar 2s linear infinite;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }


.comment-delete{
    cursor: pointer;
    color: #00a5bb;
    font-family: "Samyak Tamil";
    font-size: 12px;
}


.card-items {
    list-style-type: none;
}

.item-card{
  cursor: pointer;
  padding: 5px 10px;
  align-items: center;
    width: 310px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    overflow: hidden;

  border-radius: 6px;
  box-shadow: 0px 0px 4px 1px black;
  margin-bottom: 20px;
}




.item-card  img{
   width: 100%;
    height: 140px;
}
.item-card h5{
    margin-top: 10px;
  font-family: 'Limelight', cursive;
  font-size: 15px;
}

.item-card p{

}

#show-list{
    list-style-type: none;
}
#show-list li{
    display: inline-block;
}


