*{
    padding: 0;
    margin: 0;
}
.main{
    margin-top: 40px;
    margin-bottom: 45px;
}
#mob-navbar{
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    z-index: 1000;
}
#mob-navbar ul{
    list-style-type: none;

}
#mob-navbar ul li{
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 10px;
}
#mob-navbar ul li:hover{
    border: 2px solid black;
}
#bottom-toolbar{
    height: 2.8rem;
    width: 100%;
    background-color: white;
    position:fixed;
    bottom: 0;

}
#bottom-bar{



}
#bottom-bar li{
    display: inline-block;
    padding: 1rem;


}
#carousel-img{
    height: 200px;
}
._343{

}
._9050{
    position: relative;

    height: 40px;

    margin: 1.5rem 0 ;

}
.list-title{
    position: absolute;
    left: 10px;
    top: 5px;

}
.list-more{
    position: absolute;
    right: 10px;
    top: 5px;
}
.item-list{

    overflow-x: scroll;

}
.item-list ul{
    width: 2005px;
    list-style-type: none;

}
.item-list ul li{
    display: inline-block;
    margin: 0 1rem;
}
@media only screen and (min-width: 480px) {
    .cardview {
    width: 160px; !important;
    height: 220px;
}
    
}
#bottom-btn{
    font-size: 40px;
}
.progress-show{
    height: 2px;
    width: 100%;
    background-color: red;
}
.show-content{
    display: none;
}
