.img-logo-f{
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 50%;

    width: 150px;
    height: 150px;
    overflow: hidden;
}
.user-logo{
    overflow: hidden;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;


}

.name-f-d div{
    padding: 20px 0;
    text-align: center;
}