<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/admin/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/admin/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/admin/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">
     <script src="{% static "assets/jquery/mainjquery.js" %}"></script>

    <script src="{% static "assets/pooper/popper.min.js" %}"></script>

<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>
</head>
<body>

{% include 'admin/include/header.html' %}
{% include 'admin/include/sidebar.html' %}


{% block content %}
{% endblock %}
{% include 'admin/include/footer.html' %}


</body>
</html>



