

<nav class="main-menu" >
    <div class="scrollbar" id="style-1" >
        <ul>
            <li>
                <a href="dashboard" id="sidebar_b">
                    <span class="fasside">
                       <i class="fas fa-home"></i>
                    </span>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li >
                <a href="post" id="sidebar_b">
                    <span class="fasside">
                       <i class="fas fa-plus"></i>
                    </span>

                    <span class="nav-text">
                        Post
                    </span>
                </a>
            </li>

        </ul>


    </div>

</nav>