{% extends 'admin/include/include.html' %}
{% load static %}

{% block content %}
    <div class="main-contents">
    <main class="main-content container" id="main_content">
        <div class="row">
           <div class="col-sm " id="traffic_check">
                <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">comments</th>
      <th scope="col">User Id</th>
      <th scope="col">File Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for da in comments  %}
    <tr>
      <th scope="row" id="tableshow">{{ da.id }}</th>
      <td>{{ da.comment }}</td>
    <td><a href="#">Edit</a> </td>
    <td><a href="./delete/{{ da.id }}" onclick="dele(this)" class="bg-danger" id="post-delete" >Delete</a> </td>

    </tr>
  {% endfor %}

  </tbody>
</table>


<ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>

    </div>
    <div class="col-sm" id="traffic_check">
       <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">File Edit</th>
      <th scope="col">File Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for dat in data  %}
    <tr>
      <th scope="row" id="tableshow">{{ dat.id }}</th>
      <td>{{ dat.book_title }}</td>
    <td><a href="#">Edit</a> </td>
    <td><a href="./delete/{{ dat.id }}" onclick="dele(this)" class="bg-danger" id="post-delete" >Delete</a> </td>

    </tr>
  {% endfor %}

  </tbody>
</table>

    </div>



        </div>
    </main>
    <div id="right_side">
        <button type="submit" class="btn btn-primary">Publish</button>
        <div id="category_form">
            <form action="#" >
            <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <input type="checkbox"> hello word
  </div>
        </form>

        </div>

    </div>
    </div>
    <script>
    function dele(item){


        $.ajax({
            url : item.href,
            type : "GET",
            data : {id:1,
            },
            success : function (e){
                alert(e);
            }
        });
    }
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_add_show').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#book_add_pic").change(function(){
        readURL(this);

    });

    </script>
{% endblock %}

