{% extends 'admin/include/include.html' %}
{% load static %}

{% block content %}
    <div class="main-contents">
    <main class="main-content container" id="main_content">
        <div class="row">
           <div class="col-sm " id="traffic_check">

    </div>
    <div class="col-sm" id="traffic_check">
       <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  {% for dat in data  %}
    <tr>
      <th scope="row">{{ dat.id }}</th>
      <td>{{ dat.book_title }}</td>

    </tr>
  {% endfor %}

  </tbody>
</table>

    </div>



        </div>
    </main>
    <div id="right_side">
        <button type="submit" class="btn btn-primary">Publish</button>
        <div id="category_form">
            <form action="#" >
            <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <input type="checkbox"> hello word
  </div>
        </form>

        </div>

    </div>
    </div>
    <script>
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_add_show').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#book_add_pic").change(function(){
        readURL(this);

    });

    </script>
{% endblock %}