{% extends 'admin/include/include.html' %}
{% load static %}

{% block content %}
    <div class="main-contents">
    <main class="main-content container" id="main_content">
    <form id="post" action="post" method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">discription</label>
                        <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">

                    </div>


                </div>
                <div class="col-3">
                    <img src="{% static 'assets/img/download.png' %}" id="image_add_show" onclick="document.getElementById('book_add_pic').click()">

                </div>



            </div>
        <div class="form-group">
      <label for="comment">Book:</label>
      <textarea class="form-control" name="book_data" form="post" rows="10" id="comment"></textarea>
    </div>

        <input type="file"  class="form-control" id="book_add_pic" style="display: none" name="book_add_pic" >


        </form>
    </main>
    <div id="right_side">
        <button type="submit" id="publish" class="btn btn-primary">Publish</button>
        <div id="category_form">
            {% include "admin/include/category.html" %}

        </div>

    </div>
    </div>
    <script>
        function readURL(input,img) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(img).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#book_add_pic").change(function(){
        readURL(this,'#image_add_show');

    });

     /*   $("#publish").click(function (e){
            form_data = new FormData($("#post")[0]);

            $.ajax({
                type : "POST",
                url : "{{ request.get_full_path }}post",
                processData: false,
      contentType: false,
      async: false,
      cache: false,
                enctype: 'multipart/form-data',
      data : form_data,
                success: function (data){
                    alert(data);
                }
            });
        });*/



    $("#publish").click(function(e){
        form = $("#post");

        data_form = new FormData($(form)[0]);


        $.ajax({
            url : "./post",
            type : "POST",
            async: false,
            data : data_form,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false, 
       success: function (response) {
         alert(response);
       }

        });
        return false;
    });
    $(document).ready(function (e) {


    });



    </script>
{% endblock %}
