{% extends 'admin/include/include.html' %}
{% load static %}

{% block content %}
    <div class="main-contents">
    <main class="main-content container" id="main_content">
    <form id="post" action="post" method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">discription</label>
                        <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">

                    </div>

                </div>
                <div class="col-3">
                    <img src="{% static 'assets/img/download.png' %}" id="image_add_show">

                </div>
                <div class="form-group ">
                    <input type="file"  class="form-control" id="book_add_pic" name="book_add_pic" >



                </div>


            </div>


        </form>
    </main>
    <div id="right_side">
        <button type="submit" id="publish" class="btn btn-primary">Publish</button>
        <div id="category_form">
            <form action="#" >
            <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <input type="checkbox"> hello word
  </div>
        </form>

        </div>

    </div>
    </div>
    <script>
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_add_show').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#book_add_pic").change(function(){
        readURL(this);

    });


    $("#publish").click(function(e){
        form = $("#post");

        data_form = new FormData($(form)[0]);


        $.ajax({
            url : "./post",
            type : "POST",
            async: false,
            data : data_form,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false, 
       success: function (response) {
         alert(response);
       }

        });
        return false;
    });
    $(document).ready(function (e) {


    });


    </script>
{% endblock %}
