#iconframe{
    width: 400px;
height: 400px;

    position: relative;
    display: inline-block;


}
#iconframe img{
    position: absolute;
    left: 0;
    margin:  0px auto 0px auto;
}

#_9023{
height: 400px;



}
._90237{
    display: inline-block;
    position: absolute;
    
}
._786786{
    position: absolute;
bottom: 0;
margin: 10px;
padding: 5px;
    width: 100%;
}
button#card_add{
    background-color: skyblue;
color: white;
border-radius: 6px;
margin: auto;
}
button#download{

    position: absolute;
    right: 0;

background-color: skyblue;
color: white;
border-radius: 6px;
margin: 0px 90px 20px 0px;
}
._786865{
    list-style-type: none;


}
._boottile{
    size: 20px;
    margin: 30px;
    padding: 10px;
}
._description{
    margin: 30px;
    padding: 10px;



}
._7854{
    margin: 30px;
    padding: 10px;
}
#nav-bar{
    float: right;
    list-style-type: none;
  margin: 0;

    position: absolute;
    right: 0;
}
#nav-bar li{
    display: inline;
    padding: 5px;
    margin: 6px;
    border: 2px solid black;
}
#nav-bar li a{
    text-decoration: none;
}
#nav-bar li:hover{
    background-color: rgba(160, 152, 152, 0.03);
}
#nav-bar-frame{
    position: sticky;
    top: 0;
    z-index: 1071;
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    min-height: 4rem;
    background-color: #e8e1e1;
}
.center_margin{
    margin-left: auto;
  margin-right: auto;
    width: 100%;
}
#description_frame{

}
#description_frame thead tr th,#description_frame tbody tr td {
  padding: 15px;
}
#nav-bar-brand{
    color: black;
    display: inline-block;
padding-top: .3125rem;
padding-bottom: .3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
#pdf-example{
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    left: 0;
}
#prev{
    position: fixed;
    top: 0;
    bottom: 0;

}
#next{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}
