*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item-layout{
    width: 100%;
    background-color: red;
    height: 350px;


}
.item-layout .title-layout{
    height: 35px;
    background-color: olive;
}
.item-layout .title-layout h4{
    display: contents;
    float: left;
}
.item-layout .title-layout a{
    float: right;
}
.card-layout{
    
}

.item-layout ul {
    background: #48D;
    
    line-height: 2;
    
}
.item-layout ul li {
    float: left;

    list-style-type: none;
    margin: 10px 0 0 10px;
    
}
