@font-face {
font-family: title-show;
  src: url(/static/assets/fonts/DrymePersonalUseBold-2OYRe.ttf);
}
#iconframe{
    text-align: center;
    padding: 30px;



    display: inline-block;


}
._7585{
    position: relative;

}
.dropdown-menu {
    background-image: linear-gradient(to top, #3a85c2 0%, #21bdbd 100%);
}
#iconframe img{


    margin:  0px auto 0px auto;
}


._90237{
    position: absolute;
    top: 80px;
    margin-left: 30px;

 display: inline-block;
    
}
.web-right{
    float: right;
}

._786786{

margin: 10px;
padding: 5px;

}
.btn_frame{

    background-color: #0f6674;
    text-align: center;
}
button#card_add{


    float: left;


}
button#download{

    float: right;



}

.show-btn{

    color: white;
    border-radius: 9px;
    box-shadow: 2px 2px #888888;
    background-image: linear-gradient(to top, #3a85c2 0%, #21bdbd 100%);
padding: 4px 10px;
}
._786865{
    list-style-type: none;


}
._boottile{
    size: 20px;
    padding: 5px  30px 0  10px;


}
._7854{
    padding-top: 20px;
    width: 660px;
}
._description{
    width: 300px;
    margin: 30px;
    padding: 10px;



}

#nav-bar{
    float: right;
    list-style-type: none;
  margin-left: auto;



}
#nav-bar li{
    display: inline-block;
    padding: 5px;
    margin: 6px;

}
#nav-bar li a{
    text-decoration: none;
    color: white;
    border-radius: 6px;
}
#nav-bar li:hover{
    background-color: #064e9c;
    border-radius: 6px;
    transition-duration: 1s;
}


.h-title{



}




#nav-bar-frame{
    position: sticky;
    top: 0;
    z-index: 1071;
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    max-height: 4rem;
        box-shadow: 0 0 8px 1px #000;
    background-image: linear-gradient(to top, #3881b1 0%, #21bdbd 100%);

}
#nav-user{
    color: white;
    text-decoration: none;
    font-family: title-show;
    letter-spacing: 10px;
    font-size: 20px;
  font-weight: 100;
}
.center_margin{
    margin-left: auto;
  margin-right: auto;
    width: 100%;
}
#description_frame{

}
#description_frame thead tr th,#description_frame tbody tr td {
  padding: 15px;
}
#nav-bar-brand{
    color: white;
    display: inline-block;
padding-top: .3125rem;
padding-bottom: .3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
#nav-bar-brand h1{
    font-family: title-show;
        letter-spacing: 10px;


}
#pdf-example{
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    left: 0;
}
#prev{
    position: fixed;
    top: 0;
    bottom: 0;

}
#next{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}
.backward-di{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: radial-gradient(
	  circle closest-side,
	  #21bdbd,
	  #3881b1
	);
    text-align: center;

    box-shadow: 0 0 8px 1px #000;

    margin-top: 200px;

}
.backward-di:hover{

}
.show-backf{
    color: white;
    text-align: center;

}

#formain{
	width: 330px;
	height: 330px;

}
.fof{
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

}
.fof h1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;

}
.fof h1 span{
    color: #00a5bb;

}
.card_image h1{
    width: inherit;
height: inherit;
border-radius: 20px;
object-fit: cover;

    color: #0b2e13;
    font-size: 60px;
}
.card_image h1 span{
    color: #00a5bb;


}


.sp-table tr td{
    width: 50%;
    padding-left: 30px;
    
    

}
.sp-title{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.sp-table tr{
    height: 40px;
}
.sp-frame{
    padding: 40px;
}
.price-show{
    margin-top: 20px;
    
}
.price-show h2{
    color: red;
    display: inline-block;


}
.dis-fram{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.dis-fram div{
    display: inline;
    padding: 30px 30px 30px 0;

}


.logo-price{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.price-shop{
    width: 100%;
}


.table-heading {
    font-size: 16px;
    color: #33538f;
    text-align: left;
    height: 28px;
    padding-left: 12px;
    font-weight: 700;
    background-color: #bccedd;
}

.price-fd{
    padding-left: 30px;
    padding-right: 30px;
}
.price-fd td {
    height: 65px;
    border-bottom: 10px solid #c4defb;
    border-top: 1px solid azure;
}


.price-fd .table-heading {
    font-size: 16px;
    color: #33538f;
    text-align: left;
    height: 28px;
    padding-left: 12px;
    font-weight: 700;
    background-color: #bccedd;
}