*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item-layout{
    margin: 30px 20px;
    height: 350px;


}
.item-layout .title-layout{
    height: 35px;

}
.item-layout .title-layout h4{
    display: contents;
    float: left;
}
.item-layout .title-layout a{
    float: right;
}
.card-layout{
    overflow-x: scroll;

}

.card-layout ul  {


    line-height: 2;

}
.card-layout ul li {
    float: left;

    list-style-type: none;
    margin: 10px 0 0 10px;

}
.card-list{
    width: 2300px;
}
.dashboard-main{

}

#carouselExampleControls{
    height: 300px;
    overflow: hidden;
}
.footer-row{
    padding: 20px;
}


@media only screen and (max-width: 600px){

    .card_list{
    width: 1800px;
}
}