{% extends "mobile/include/include.html" %}
{% block content %}
    <div id="mob-navbar" >
        <div class="row">
            <div class="col text-center i-vcenter" id="backbtn">

            </div>
            <div class="col text-center">
                <h5 id="main-title">Zeppter</h5>
            </div>
            <div class="col text-center" id="searchview">


                <i class="material-icons i-vcenter">search</i>
            </div>

        </div>
        <div id="search">

      <form class="search-form" action="javascript:void(0);" method="GET">

        <fieldset class="clearfix">

          <input id="searif"  type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' ">
          <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
            <input type="hidden" value="hello">


        </fieldset>

      </form>

    </div>
    <div class="progress-show"></div>

    </div>
<div class="main">


</div>
    <div class="show-content"
    >

    </div>



    <div style="display: none">



    </div>
    <div id="bottom-toolbar">
    <div id="bottom-bar" class="row">
        <div class="col text-center" >
            <div id="home-btn">
                <i  class="material-icons" id="bottom-btn">home</i>
            </div>
        </div>
        <div class="col text-center">
            <i class="material-icons" id="bottom-btn">add</i>
        </div>
        <div class="col text-center">
            <i class="material-icons" id="bottom-btn">offline_pin</i>
        </div>


    </div>

    </div>
    <script>






        $(document).ready(function (e) {
            const main = $(".main");
    var url= window.location.href;
    $("#searchview").click(function (e){
        $("#mob-navbar .row").hide();
        $("#search").css("display","inline-block");
    });
    $("")

    function geshows(s) {
        home(url+s, function (e) {
                        if ($(".show-content").hide()) {

                            $(".main").show();

                        }

                        main.html(e);


                    });
    }

    if ( window.location.pathname=="/" ){

    geshows("mobileload");


} else {
    geshows("mobileload");

}

            $("#backbtn").click(function (e){
               if ( window.history.back()){
                   hitory =  window.location.href
                   home(hitory+"mobileload", function (e) {
                        if ($(".show-content").hide()) {

                            $(".main").show();

                        }

                        main.html(e);


                    });
               }


            });
    $("#main-title").click(function (e){

    });




            $("#home-btn").click(function (e) {
                    window.history.pushState('page2', 'Title', '/');



                    $("#backbtn").html("");
                    home("http://{{ request.get_host }}/mobile_home", function (e) {
                        if ($(".show-content").hide()) {

                            $(".main").show();

                        }

                        main.html(e);


                    });




            });
            $("#backbtn").html("");



            $("#searif").keyup(function (e) {
                var main = $(".main");
                var name = $('#searif').val();
                if (name === ""){
                    main.html("");

                }else {
                    $.ajax({

                    url : "/mobile/search",
                    type : "GET",
                    data: {search : name},

                    success : function (data) {

                        main.html(data);




                    }
                });
                }




            });
        });



    </script>
{% endblock %}