{% extends "mobile/include/include.html" %}
{% block content %}
    <div id="mob-navbar" >
        <div class="row">
            <div class="col text-center i-vcenter" id="backbtn">

            </div>
            <div class="col text-center">
                <h5 id="main-title">Zeppter</h5>
            </div>
            <div class="col text-center" id="searchview">


                <i class="material-icons i-vcenter">search</i>
            </div>
            {% if "email" in request.session %}
                <div class="col text-center">
            <i class="material-icons" id="notification_m_btn">notifications</i>
        </div>



            {% endif %}





        </div>
        <div id="search">

      <form class="search-form" action="javascript:void(0);" method="GET">

        <fieldset class="clearfix">

          <input id="searif"  type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' ">
          <!-- JS because of IE support; better: placeholder="What are you looking for?" -->

            <input type="hidden" value="hello">
                          <i id="hide_search" style="margin-left: 30px" class="fa fa-2x fa-times"></i>


        </fieldset>


</form>

    </div>

                  <div class="progressbar">
    <div class="stylization">
    </div>
</div>


    </div>

<div class="main" id="main">


</div>
    <div class="show-content"
    >

    </div>



    <div style="display: none">



    </div>
    <div id="bottom-toolbar">
    <div id="bottom-bar" class="row">
        <div class="col text-center" >
            <div id="home-btn">
                <i  class="material-icons" id="bottom-btn">home</i>
            </div>

        </div>
        <div class="col text-center">
            <i class="material-icons create-book" id="bottom-btn">add</i>
        </div>
        <div class="col text-center">
           {% if "email" in request.session %}
            <!---div class="user-logo" onclick="userprofi('{{ request.myuser.pk }}')"-->

                {% if request.myuser.photo == "" %}
            <img src="{{ MEDIA_URL }}{{ request.myuser.photo }}" width="100%" height="100%">


                    {% else %}


<i id="user_m" onclick="userprofi('{{ request.myuser.pk }}')" class="material-icons" aria-hidden="true">person</i>

                  {% endif %}
            <!--/div-->
            {% else %}



<i id="login_m" onclick="login()"  class="material-icons" >login</i>


            {% endif %}
        </div>


    </div>

    </div>
    <script type="text/javascript">
      key_token = '{{ csrf_token }}'




                progressbar_p = $(".progressbar");
                progressbar_p.show();

function login(){
    progressbar_p.show();
    $.ajax({
                         url: "/mobile/login",
                         type : "post",
                         data : {
                             csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                         success : function (e){
                             progressbar_p.hide();
                             $(".main").hide()
                             $(".show-content").show()
                             $(".show-content").html(e)
                         }


                     })





}

function userprofi(id){
        $.ajax({
                    url: "/mobile/user/data/"+id,
                    type: "post",
                    data : {csrfmiddlewaretoken : '{{ csrf_token }}'},
                    success : function (e){
                        progressbar_p.hide();
                       if( $(".show-content").hide()){
                           mai = $(".main")
                           if( mai.hide()){
                               mai.show();

                           }

                        mai.html(e)
                       }


                    }

                });
        return false;
    }





        $(document).ready(function (e) {
            zhis.sethistory();




             if (window.history && window.history.pushState) {

  //  window.history.pushState('forward', null, "");

    $(window).on('popstate', function() {

     content =  $(".show-content")
       if(content.is(":visible")){
           content.hide();
           $(".main").show();
             window.history.pushState('page2', '', location.pathname);

           
           return false

     //   } if (location.pathname === "/" || location.pathname === "") {



          /*     zhis.gethistory(function (e) {
                   content.hide();
                   mains = $(".main")
                   mains.show();

                   main.html(e);


               })*/


        // alert(history.length)
          //  window.history.go(-1);
       

        }else {
           history.back()

            

  //                 alert('Back button was pressed.');

        }

    });

  


  }




            $("#hide_search").click(function (e){
                progressbar_p.hide();
                $('#search').hide();
                -        $("#mob-navbar .row").show();

            });



            $(".create-book").click(function (e){
                progressbar_p.show();
                $.ajax({
                    url: "/mobile/create_post",
                    type : "post",
                    data : { csrfmiddlewaretoken : '{{ csrf_token }}' , data : true},
                    success : function (e){
                        progressbar_p.hide();
                        $(".main").html(e);
                    }

                })
            })







            const main = $(".main");
    var url= window.location.href;
    $("#searchview").click(function (e){
               $("#mob-navbar .row").hide();

        $("#search").show();
    });
    $("")

    function geshows(s) {
        home(url+s, function (e){
            progressbar_p.hide();
                        if ($(".show-content").hide()) {

                            $(".main").show();

                        }

                        main.html(e);


                    });
    }

    if ( window.location.pathname=="/" ){

    geshows("mobileload");


} else {
    geshows("mobileload");

}
    back = $("#backbtn");

    content = $(".show-content")
    if (content.show()){
        back.show()
    }else {
        back.hide()
    }


            back.click(function (e){
                content.hide();
                $(".main").show();




            });
    window.onhashchange = function() {


 //blah blah blah


       if( content.show()){
           content.hide();    
                   $(".main").show();

       }
}

    $("#main-title").click(function (e){

    });




            $("#home-btn").click(function (e) {
                progressbar_p.show();
  window.history.pushState('page2', 'Title', '/');


                    $("#backbtn").html("");
                    home("/mobile_home", function (e) {
                        progressbar_p.hide();
                        if ($(".show-content").hide()) {

                            $(".main").show();

                        }

                        main.html(e);


                    });




            });
            $("#backbtn").html("");



            $("#searif").keyup(function (e) {
                progressbar_p.show();
                var main = $(".main");
                var name = $('#searif').val();
                if (name === ""){
                    main.html("");

                }else {
                    $.ajax({

                    url : "/mobile/search",
                    type : "GET",
                    data: {search : name},

                    success : function (data) {
                        progressbar_p.hide();

                        main.html(data);




                    }
                });
                }




            });
        });



    </script>
{% endblock %}