<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/user/login">Login</a></li>
                            <li><a href="/user/register">Register</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/contact">Contect</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">feedback</a></li>
                        </ul>
                    </div>

                    <div class="col item social"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}"><i class="fab fa-facebook-f"></i></a><a href="http://www.twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}"><i class="fab fa-twitter"></i></a><a href="https://plus.google.com/share?url={{ request.scheme }}://{{ request.get_host }}"><i class="fab fa-google-plus-g"></i></a><a href="https://www.instagram.com/sharer.php?u={{ request.scheme }}://{{ request.get_host }}"><i class="fab fa-instagram"></i></a></div>
                </div>
                <p class="copyright">Zeppter pvt ltd © 2021</p>
            </div>
        </footer>
    </div>