<nav id="nav-bar-frame">
    <a href="http://{{ request.get_host }}" id="nav-user" >Zeppter</a>

         <ul id="nav-bar">
             <li>
                 <form id="search" method="get" action="/search">
                     <input type="hidden" name="page" value="1">
                 <div class="input-group rounded">
  <input type="search" class="form-control rounded" name="search" id="search_input" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
                     </form>
             </li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
</ul>
       {% if 'email' in request.session %}
    <a>{{ request.session.email }}</a>
    {% else %}
    <a>login</a>
    {% endif %}

</nav>
<script>
    $('#search-addon').click(function (e){
        data = $('#search_input').val();
        if (data !== ""){
            $('#search').submit()

        }

    });
</script>


