<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meta.title }}</title>
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ meta.icon }}">
    {% block header %}{% endblock %}
    {% if meta %}
    {% include "mobile/dashboard/load/header.html" %}

{% endif %}







    <!-- boostrap-->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main2.css' %}">
<link rel="stylesheet" href="{% static 'assets/dashboard/main3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/card/card.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}">
<link rel="stylesheet" href="{% static 'assets/dashboard/footer.css' %}">
<link rel="stylesheet" href="{% static 'assets/dashboard/content.css' %}">




{% block heade%}{% endblock %}
     <script src="{% static "assets/jquery/mainjquery.js" %}"></script>
<link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/fontawesome/css/fontawesome.min.css' %}">
<script src="{%  static 'assets/fontawesome/js/all.js' %}"></script>
<script src="{% static "assets/popper/popper.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>





<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "51dggxc84d");
</script>





</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B8PSGJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% block content %}{% endblock %}
{% include 'dashboard/main/footer.html' %}
</body>
</html>