{% for i in book %}
        <li>
        <a data-value="{{ i.book_url }}" class="cardlink" href="/mobile/content/{{ i.book_url }}/"  >
        {% include 'package/cardview.html' %}
        </a>


        </li>

        {% endfor %}

<script>

$(".cardlink").click(function (e){
    home($(this).attr("href"),function (data){

        $(".main").html(data);







    });
    history.pushState('data to be passed', 'Title of the page', '/mobile/content/'+$(this).data('value'));





    return false;
            });
</script>