{% for i in book %}
        <li>
        <a data-value="{{ i.book_url }}" data-id="{{ i.pk }}" data-title="{{ i.book_title }}"  class="cardlink" href="/mobile/content/{{ i.book_url }}/"  >
        {% include 'package/cardview.html' %}
        </a>


        </li>

        {% endfor %}

<script>

$(".cardlink").click(function (e){





    progressbar_p.show()

     $('#search').hide()
       $("#mob-navbar .row").show();

    home($(this).attr("href"),function (data){
              zhis.check_history()

            zhis.sethistory()




        progressbar_p.hide()

        $(".main").html(data);
        //console.log(zhistory)







    });
    history.pushState({state:$(this).data('id')}, $(this).data('title'), '/mobile/content/'+$(this).data('value')+'/');





    return false;
            });
</script>