<div id="editor"></div>
{% load static %}
<div class="downlod_fr">
    <P>Loding</P>
    <div class="downlod_sh">
        <button class="button5 left" id="cancel_click">Cancel</button>
        <button class="button5 right" id="downclick">Download</button>
    </div>
</div>
<div class="title_frame_show text-center">
    <h5>{{ book_title }}</h5>
</div>
<div class="book_img_frame text-center">
    {% if book_image != "" %}

    <img id="book_img" height="280" src="http://{{ request.get_host }}{{ MEDIA_URL }}{{ book_image }}">
{% else %}
    <img id="book_img" height="280" src="http://{{ request.get_host }}{% static 'assets/404/img/404img.png' %}">
    {% endif %}

</div>
<div class="vies_frame">
    <div class="like-frame">
        <a id="like" href="#"><i class="far fa-thumbs-up"></i> <span id="like_v">{{ likes }}</span> </a>
        <a id="dislike" href="#"><i class="far fa-thumbs-down"></i> <span id="dislike_v">{{ dislikes }}</span> </a>
    </div>


    <p id="view">Views {{  views }}</p>
</div>
<div class="load_frame">
    <button id="online_load" class="button5">
        <strong>Online</strong>

    </button>
    <button id="download_load" class="button5">
        <strong>Download</strong>
    </button>
    <div>

    </div>
</div>
<div class="container">
    <a id="donation"  class="btn btn-primary" style="margin: 20px auto;width: 100%;color: white;">Donate for Zeppter</a>
</div>




<div class="item_abaut">
    <div class="item-des">
        <p>{{ book_description }}</p>
        <table class="w-100">
            <thead>
            <tr>
                <th>Book Publisher</th>
                <th>
                    <a href="#" onclick="userprofi('{{ userdata.pk }}')">{{ userdata.first_name }} {{ userdata.last_name }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>tere</td>
                <td>bin</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
    {% for ca in cat %}
<div class="_343 w-100">
        <div class="_9050">
            <h4 class="list-title" >{{ ca.cat_title }}</h4>
            <button data-listview="{{ ca.id }}" class="list-more button5"><strong>More</strong></button>
</div>
     <div class="item-list">
        <ul class="lid{{ ca.id }}" id="lid{{ ca.id }}" >



        </ul>

    </div>
    </div>

    <script>







    $(document).ready(function (e){


          $.ajax({
       //
       success:function(data){
          $.ajax(
        {
            url : "/mobile/mobilecard/{{ ca.id }}",
            cache: false,
            success : function (data){
                $("#lid{{ ca.id }}").html(data)

            }
        });
       }
      });


            });
    </script>
{% endfor %}
        {% include "mobile/dashboard/load/comment.html" %}










<script>

var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        }





    $(document).ready(function (e){

        $("#donation").click(function (e){
            $.ajax({
                url : "/mobile/donation",
                success : function (e){
                    $(".main").hide()
                             $(".show-content").show()
                             $(".show-content").html(e)

                }
            });
            return false;
        })





        $("#like").click(function (e){
            $.ajax({
                url: "/hello/post/like",
                type : "get",
                data : {
                    postid : "{{ id }}"
                },
                success: function (e){

                 data =  JSON.parse(e)
                 if (data.check === "like"){
                     $("#like_v").text(data.likes)

                 }else if (data.check === "delete"){
                     $("#like_v").text(data.likes)

                 }else if (data.check==="login"){
                     $.ajax({
                         url: "/mobile/login",
                         type : "post",
                         data : {
                             csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                         success : function (e){
                             $(".main").hide()
                             $(".show-content").show()
                             $(".show-content").html(e)
                         }


                     })

                 }



                }
            })

        });
        $("#dislike").click(function (e){
            $.ajax({
                url: "/hello/post/dislike",
                type : "get",
                data : {
                    postid : "{{ id }}"
                },
                success: function (e){

                 data =  JSON.parse(e)
                 if (data.check === "dislike"){
                     $("#dislike_v").text(data.likes)

                 }else if (data.check === "delete"){
                     $("#dislike_v").text(data.likes)

                 }else if (data.check==="login"){
                     $.ajax({
                         url: "/mobile/login",
                         type : "post",
                         data : {
                             csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                         success : function (e){
                             $(".main").hide()
                             $(".show-content").show()
                             $(".show-content").html(e)
                         }


                     })

                 }
                 console.log(e)


                }
            })

        });
        da = document.getElementById("backbtn")
        if ($('#backbtn').is(':empty')) {
    // do something
            i = document.createElement("i");
        i.className += "material-icons";
        i.innerHTML = "keyboard_backspace";

        da.appendChild(i);
}

     /*   $(".cardlink").click(function (e){
    home($(this).attr("href"),function (data){
       // $(".main").hide();
        let content = $(".show-content");
        content.show();

        content.html(data)

        $("html, body").animate({ scrollTop: 0 }, "slow");
    });




    return false;
            });*/
        $("#download_load").click(function (e){


            $(".downlod_fr").css("display","block");
        });
        $("#cancel_click").click(function (e){
            $(".downlod_fr").css("display","none");

        });
        $("#online_load").click(function (e){
            main = $("#main");
            home("/mobile/mobile_pdf/{{ id }}",function (data){
        $(".main").hide();
        let content = $(".show-content");
        content.show();

        content.html(data)
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
            return false;

        });




        $("#commtgd").submit(function (e){
        data_form = new FormData($(this)[0]);
       var form =  $(this);

        $.ajax({
            url: "/comment",
            method : "POST",
            data : form.serialize(),
            cache :false,
            success:function (data) {
                data_json = JSON.parse(data)

                li = document.createElement("li");
                a= document.createElement("a");
                comment = document.createElement("comment");
                a.href = "hello";
                list = document.getElementById("comment-list");
                var br = document.createElement('br');

                a.innerText = data_json.name;
                comment.innerText = data_json.comment;
                li.appendChild(a);
                li.appendChild(br)
                li.appendChild(comment)
                list.appendChild(li)

                alert(data_json.response)




            }
        });
        return false;
    });


        $(".list-more").click(function (e) {
        id = $(this).attr("data-listview")

        $.ajax({
            url : "/mobile/listview/"+id+"/mobileload",
            type : "GET",
            data :{
                hide : "show"
            },
            success : function (e){
                console.log(e)
                history.pushState('data to be passed', 'Title of the page', '/mobile/listview/'+id+"/");

                $(".main").html(e);


            }
        })


            });
    });
    $("#downclick").click(function (e) {
  home("/mobile/mobile_pdf/{{ id }}",function (data){


    });
    });
</script>