
<div class="downlod_fr">
    <P>Loding</P>
    <div class="downlod_sh">
        <button class="button5 left" id="cancel_click">Cancel</button>
        <button class="button5 right" id="downclick">Download</button>
    </div>
</div>
<div class="title_frame_show text-center">
    <h5>{{ book_title }}</h5>
</div>
<div class="book_img_frame text-center">

    <img id="book_img" src="http://{{ request.get_host }}{{ MEDIA_URL }}{{ book_image }}">


</div>
<div class="load_frame">
    <button id="online_load" class="button5">
        <strong>Online</strong>

    </button>
    <button id="download_load" class="button5">
        <strong>Download</strong>
    </button>
    <div>

    </div>
</div>
<div class="item_abaut">
    <div class="item-des">
        <p>{{ book_description }}</p>
        <table class="w-100">
            <thead>
            <tr>
                <th>hello</th>
                <th>kese</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>tere</td>
                <td>bin</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
    {% for ca in cat %}
<div class="_343 w-100">
        <div class="_9050">
            <h4 class="list-title" >{{ ca.cat_title }}</h4>
            <button class="list-more button5"><strong>More</strong></button>
</div>
    <div class="item-list">
        <ul>

            {% for i in data %}
        <li>
        <a class="cardlink" href="http://{{ request.get_host }}/mobile/content/{{ i.book_url }}/" >
        {% include 'package/cardview.html' %}
        </a>


        </li>

        {% endfor %}
        </ul>
    </div>
    </div>
{% endfor %}
<div class="commet-frame">

    <div class="commet-list container">
    <h3>Comment show</h3>
        <ul>
            <li>
                {% for comment in comments %}
                <div class="commet-show">
                    <div class="imgframi d-inline-block">
                        <img src="http://127.0.0.1:8000/media/cat_img/funny-story-in-hindi-9_l66eSUT.webp">
                    </div>
                    <div class="com-title d-inline-block ">
                        <h4 class="comme-title">{{ comment.name }}</h4>
                        <p class="commentsd">{{ comment.comment }}</p>
                    </div>

                </div>
                {% endfor %}
            </li>
        </ul>

</div>
<form id="commtgd">
    <input type="hidden" name="postid" value="{{ id }}">
    {% csrf_token %}
    <label for="comment" class="col-md-1 control-label">Tenth Comment:</label>
<div class="col-md-2">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="email" placeholder="Your Email">
    <textarea class="form-control input-sm" name="comment" rows="4" id="comment"></textarea>
</div>
    <input name="submit" type="submit" value="submit">
</form>

</div>








<script>


    $(document).ready(function (e){
        da = document.getElementById("backbtn")
        if ($('#backbtn').is(':empty')) {
    // do something
            i = document.createElement("i");
        i.className += "material-icons";
        i.innerHTML = "keyboard_backspace";

        da.appendChild(i);
}

     /*   $(".cardlink").click(function (e){
    home($(this).attr("href"),function (data){
       // $(".main").hide();
        let content = $(".show-content");
        content.show();

        content.html(data)

        $("html, body").animate({ scrollTop: 0 }, "slow");
    });




    return false;
            });*/
        $("#download_load").click(function (e){
            $(".downlod_fr").css("display","block");
        });
        $("#cancel_click").click(function (e){
            $(".downlod_fr").css("display","none");

        });
        $("#online_load").click(function (e){
            main = $("#main");
            home("http://{{ request.get_host }}/mobile/mobile_pdf/{{ id }}",function (data){
        $(".main").hide();
        let content = $(".show-content");
        content.show();

        content.html(data)
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
            return false;

        });




        $("#commtgd").submit(function (e){
        data_form = new FormData($(this)[0]);
       var form =  $(this);

        $.ajax({
            url: "/comment",
            method : "POST",
            data : form.serialize(),
            cache :false,
            success:function (data) {
                data_json = JSON.parse(data)

                li = document.createElement("li");
                a= document.createElement("a");
                comment = document.createElement("comment");
                a.href = "hello";
                list = document.getElementById("comment-list");
                var br = document.createElement('br');

                a.innerText = data_json.name;
                comment.innerText = data_json.comment;
                li.appendChild(a);
                li.appendChild(br)
                li.appendChild(comment)
                list.appendChild(li)

                alert(data_json.response)




            }
        });
        return false;
    });
    });
</script>