{% load static %}

<title>{{ meta.title }}</title>
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ meta.icon }}">

<meta name='description' content='{{meta.description}}'>
<meta name="keywords" content="{{meta.keywords}}"/>
<link rel="author" href="https://plus.google.com/{{meta.googlePlusId}}" >
<link rel="canonical" href="{{meta.pageUrl}}" />
<meta property="og:url" content="http://{{ request.get_host }}{{meta.facebook.pageUrl}}">
<meta property="og:image" content="http://{{ request.get_host }}{{meta.facebook.imageUrl}}">
<meta property="og:description" content="{{meta.facebook.description}}">
<meta property="og:type"               content="{{meta.facebook.type}}" >
<meta property="og:title" content="{{meta.facebook.pageTitle}}">
<meta property="og:site_name" content="{{meta.facebook.siteTitle}}">
<meta property="og:see_also" content="{{meta.facebook.homepageUrl}}">
<meta itemprop="name" content="{{meta.google.pageTitle}}">
<meta itemprop="description" content="{{meta.google.description}}">
<meta itemprop="image" content="{{meta.google.imageUrl}}">
<meta name="twitter:card" content="summary">
<meta name="robots" content="index, follow">
<meta name="twitter:url" content="{{meta.twitter.pageUrl}}">
<meta name="twitter:title" content="{{meta.twitter.pageTitle}}">
<meta name="twitter:description" content="{{meta.twitter.description}}">
<meta name="twitter:image" content="{{meta.twitter.imageUrl}}">
<meta name="google-site-verification" content="2LRsws86iQNn2L0z-cAavzd6DQWL3V-8NqabNWyGqVE" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F4936D0P29"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F4936D0P29');
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B8PSGJ');</script>
<!-- End Google Tag Manager -->




<script type="application/ld+json">

{
{% if book %}

  "@context": "https://schema.org",
    "@type": "Product",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": 4.7,
      "reviewCount": 2
    },
    "image": "https://{{ request.get_host}}{{ MEDIA_URL }}{{ img }}",
    "name": "{{ title }}"



    "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://{{ request.get_host}}{{ request.path}}"
      },
      "headline": "{{ title }}",
      "image": [
        "https://{{ request.get_host}}{{ MEDIA_URL }}{{ img }}",

       ],
      "datePublished": "{{ create_d}}",
      "dateModified": "{{ update_d }}",
      "author": {
        "@type": "Person",
        "name": "Devan mandal"
      },
       "publisher": {
        "@type": "Organization",
        "name": "Zeppter",
        "logo": {
          "@type": "ImageObject",
          "url": "https://{{ request.get_host }}.com{% static 'assets/img/zeppter.png' %}"
        }
      }





      {% elif website %}

      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.{{ request.get_host }}.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://{{ request.get_host }}.com/search?search={search_term_string}",
        "query-input": "required name=search_term_string"
      }

    {% endif %}

}



</script>




