
<div class="container" id="listframe">
    <div class="title-fd">
        <p class="title-list">
            {% for d in cat %}
                {{ d.cat_title }}
            {% endfor %}
        </p>

    </div>

    <ul class="listviewul">

        {% include "mobile/dashboard/load/cardlist.html" %}

    </ul>
    <div class="loding-show">

<div class="pagination">
    <span class="step-links">
        {% if book.has_previous %}
            <a class="next_page" href="?page={{ book.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ book.number }} of {{ book.paginator.num_pages }}.
        </span>

        {% if book.has_next %}
            <a class="next_page" href="?page={{ book.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    </div>


</div>

<script>


$(document).ready(function (e){
    $(".next_page").click(function (e){
        home("/mobile/listview/{% for d in cat %}{{ d.pk }}{% endfor %}/mobileload"+$(this).attr("href"),function (e){
            $(".main").html(e)
        })
        return false
    });



});



</script>
