{% if book.number <= 1 %}
<div class="container" id="listframe">
    <div class="title-fd">
        <p class="title-list">
            {% for d in cat %}
                {{ d.cat_title }}
            {% endfor %}
        </p>

    </div>

    <ul class="listviewul">
        {% endif %}
        {% include "mobile/dashboard/load/cardlist.html" %}
{% if book.number <= 1 %}
    </ul>
    <div class="loding-show">
    <div class="pagination">
    <span class="step-links">
        {% if book.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ book.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ book.number }} of {{ book.paginator.num_pages }}.
        </span>

        {% if book.has_next %}
            <a class="next_page" href="?page={{ book.next_page_number }}">next</a>
            <a class="next_page" href="?page={{ book.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    </div>


</div>

<script>


$(document).ready(function (e){
    $(".next_page").click(function (e){
        home("/mobile/listview/mobileload/"+$(this).attr("href"),function (e){
            alert("hello")
        })
        return false
    });



});



</script>
{% endif %}