<div class="container position-relative">

    {% load static %}
    <div class="du_content">
        <a href="https://paytm.me/cmUz-Hr">

        <div>
            <p class="h3"><strong>Donate for</strong> </p>
            <p>link</p>
            <img src="{% static "assets/img/paytm-512.webp" %}" width="200" height="100">


        </div>
        </a>
        <div>
            <img src="{% static "assets/img/logo-gp3.svg" %}" width="200" height="100">
            <p class="h4">8264847886</p>

        </div>
        <div>
            <img src="{% static "assets/img/PhonePe-Logo.wine.png" %}" width="200" height="100">
            <p class="h4">8264847886</p>

        </div>
    </div>
</div>