<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ meta.title }}</title>
    <meta charset="UTF-8">
    {% block headshow %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "assets/mobile/dashboard/css/main1.css" %}">
    <link rel="stylesheet" href="{% static "assets/mobile/dashboard/css/main2.css" %}">
    <link rel="stylesheet" href="{% static "assets/mobile/dashboard/css/content1.css" %}">
     <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobile/login.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobile/dashboard/css/user_profile.css' %}">
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ meta.icon }}">
{% if meta  %}

    {% include "mobile/dashboard/load/header.html" %}
{% endif %}
{% block metatag %}
{% endblock %}



<link rel="stylesheet" href="{% static 'assets/css/card/card.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "assets/jquery/mainjquery.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "assets/mobile/dashboard/js/main1.js" %}"></script>

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{% static "assets/popper/popper.min.js" %}" crossorigin="anonymous"></script>


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "51dggxc84d");
</script>

</head>
<body>
{% block content %}
{% endblock %}

</body>
</html>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"  crossorigin="anonymous" ></script>