<li class="list-group-item">
                        <div class="row w-full">
                            <div class="col-xs-2 col-md-1">

                                <img src="{{ MEDIA_URL }}{{ comment.photo }}" height="85px" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="/user/data/{{ comment.userid }}">{{ comment.user_name }}</a>
                                    <div class="mic-info">
                                        By: <a href="#"> {{ comment.name }}</a> on {{ comment.date|date:"M d, Y" }}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{ comment.comment }}
                                </div>
                                {% if request.session.email in comment.email %}
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil">edit</span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok">Approved</span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash">Delete</span>
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>