<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
     <!-- boostrap-->

    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/content.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/card/card.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}">
     <script src="{% static "assets/jquery/mainjquery.js" %}"></script>
<script src="{% static "assets/pooper/popper.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>
</head>
<body>
<div  class="container" style="background-color: #0c5460">




    <h1>{{ title }}</h1>
    <div class="row">
        <div id="show-content"  class="col">
        {{ book_data }}

    </div>
        <img src="{{ MEDIA_URL }}{{ img }}" width="200" height="200">
        
    </div>
    
    <div class="row">
        <div class="col" style="width: 400px ;background-color: white">
        <form action="#" id="content-comment">
            {% csrf_token %}
            <input type="hidden" name="postid" value="{{ postid }}">
            <div class="form-group">

    <label for="exampleInputEmail1">Your Name</label>
    <input type="text" class="form-control" name="name" id="exampleInputEmail1" >


            </div>
            <div class="form-group">

    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">


            </div>
            <div class="form-group">
    <label for="exampleFormControlTextarea1">You Comment</label>
    <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
        <div class="col" style="background-color: white;">
            <ul id="comment-list">
                {% for comment in comments %}
                <li>
                    <a href="#">
                        {{ comment.name }}

                    </a>
                    <br>
                    <comment>{{ comment.comment }}</comment>
                </li>
                {% endfor %}


            </ul>

        </div>
    </div>

</div>

</body>
</html>
<script>
    $("#content-comment").submit(function (e){
        data_form = new FormData($(this)[0]);
       var form =  $(this);

        $.ajax({
            url: "../comment",
            method : "POST",
            data : form.serialize(),
            cache :false,
            success:function (data) {
                data_json = JSON.parse(data)

                li = document.createElement("li");
                a= document.createElement("a");
                comment = document.createElement("comment");
                a.href = "hello";
                list = document.getElementById("comment-list");
                var br = document.createElement('br');

                a.innerText = data_json.name;
                comment.innerText = data_json.comment;
                li.appendChild(a);
                li.appendChild(br)
                li.appendChild(comment)
                list.appendChild(li)

                alert(data_json.response)




            }
        });
        return false;
    });

    $("#show-content").dblclick(function (e) {

        fullScreenTgl(this)

    });
function fullScreenTgl(elm) {
    let doc=document;//,elm=doc.documentElement;
    if      (elm.requestFullscreen      ) { (!doc.fullscreenElement   ? elm.requestFullscreen()       : doc.exitFullscreen()        ) }
    else if (elm.mozRequestFullScreen   ) { (!doc.mozFullScreen       ? elm.mozRequestFullScreen()    : doc.mozCancelFullScreen()   ) }
    else if (elm.msRequestFullscreen    ) { (!doc.msFullscreenElement ? elm.msRequestFullscreen()     : doc.msExitFullscreen()      ) }
    else if (elm.webkitRequestFullscreen) { (!doc.webkitIsFullscreen  ? elm.webkitRequestFullscreen() : doc.webkitCancelFullscreen()) }
    else                                  { console.log("Fullscreen support not detected.");                                          }
    }
</script>



