{% extends 'dashboard/main/include.html' %}
{% load static %}

{% block content %}
{% include "dashboard/main/header.html" %}
    <div class="_7585">
        <div id="iconframe" class="">
            <img src="{{ MEDIA_URL }}{{ img }}"  width="330" height="330"/>
            <div class="w-full">
                <p>view {{ views }} </p>
                <a class="like">
        <i class="fab fa-thumbs-up" style="float: left"></i>  Like
        <input class="qty1" name="qty1" readonly="readonly" type="text" value="{{ like }}" />
    </a>
    <a class="dislike">
        <i class="fab fa-thumbs-o-down" style="float: right"></i> Dislike
        <input class="qty2"  name="qty2" readonly="readonly" type="text" value="{{ dislike }}" />
    </a>
            </div>
            <div class="_786786  ">
                <div class="btn_frame">
                    <button class="show-btn" id="card_add" >Show Book</button>

                <button class="show-btn" id="download" href="../pdf_show/{{ url }}" onclick="window.open('/pdf_show/{{ url }}')" >Download Book</button>

                </div>
            </div>

        </div>
        <div class="_90237">



                <div class="_786865">

                        <div class="_boottile">
                            <h1>{{ title }}</h1>
                        </div>

                        <p class="_7854">{{ dascription }}</p>




                </div>
        </div>

        </div>


    <div class="container">
        <h3 class="text-center">description</h3>
        <table  class="center_margin" id="description_frame">
            <thead>


            <tr>
                <th >Name</th>
                <th >Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Publidsher</td>
                <td><a href="{{ user.id }}">{{ user.fullname }}</a> </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="container">
    <h4>Book Share</h4>
    <div class="social">




  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" id="share-fb" class="sharer button"><i class="fab fa-2x fa-facebook-f"></i></a>
  <a href="http://www.twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" id="share-tw" class="sharer button"><i class="fab fa-2x fa-twitter"></i></a>
  <a href="https://plus.google.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" id="share-li" class="sharer button"><i class="fab  fa-2x fa-google-plus-g"></i></a>
  <a href="https://plus.google.com/share?url=" id="share-em" class="sharer button"><i class="fa fa-2x fa-envelope-square"></i></a>
</div>
    </div>
    <div class="container">
    {% for ca in cats %}
        <div class="item-layout">
      <div class="title-layout">
        <h4>{{ ca.cat_title }}</h4>
        <a href="/catlist/{{ ca.id }}">More</a>


      </div>
      <div class="container">
          <div class="card-layout">
       <ul id="card_list{{ ca.id }}" class="card-list">

       </ul>

      </div>
      </div>
    <script>
        $(document).ready(function (e){






            $.ajax(
        {
            url : "/cardlist/{{ ca.id }}",
            cache: false,
            success : function (data){
                $("#card_list{{ ca.id }}").html(data)

            }
        }
    );
            $(function () {
     $(".like").click(function () {

         var input = $(this).find('.qty1');

         $.ajax({
             url : "/hello/post/like",
             type : "get",
             data: {

                 postid : "{{ postid }}"
             },
             success : function (e){
                data =  JSON.parse(e)
                 if (data.check === "like"){

                         input.val(data.likes);


                 }else if (data.check === "delete"){

                         input.val(data.likes);


                 }
                 console.log(e)
             }
         })
     });

     $(".dislike").click(function () {
         var input = $(this).find('.qty2');


         $.ajax({
             url : "/hello/post/dislike",
             type : "get",
             data: {

                 postid : "{{ postid }}"
             },
             success : function (e){
                 data =  JSON.parse(e)
                 if (data.check === "dislike"){

                         input.val(data.likes);


                 }else if (data.check === "delete"){

                         input.val(data.likes);


                 }
                 console.log(e)
             }
         })
     });
});
        });
    </script>





      </div>
    {% endfor %}
    </div>


        <div   class="container">
        <div class="row">
        <div class="panel panel-default widget w-100">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>
                <span class="label label-info">
                    {{ comments.count }}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for comment in comments %}


                    <li class="list-group-item">
                        <div class="row w-full">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Cool Sign Up</a>
                                    <div class="mic-info">
                                        By: <a href="#"> {{ comment.name }}</a> on {{ comment.pub_date|date:"M d, Y" }}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{ comment.comment }}
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>


            {% if comments.count > 9 %}

                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
            {% endif %}
            </div>
        </div>
    </div>


            
        <form action="#" id="content-comment">
            {% csrf_token %}
            <input type="hidden" name="postid" value="{{ postid }}">
            <div class="form-group">

    <label for="exampleInputEmail1">Your Name</label>
    <input type="text" class="form-control" name="name" id="exampleInputEmail1" >


            </div>
            <div class="form-group">

    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">


            </div>
            <div class="form-group">
    <label for="exampleFormControlTextarea1">You Comment</label>
    <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
            <input type="submit" class="btn btn-primary" value="Comment">
        </form>
    </div>





    <script>
    $(document).ready(function (e){
        $("#content-comment").submit(function (e){
        data_form = new FormData($(this)[0]);
       var form =  $(this);

        $.ajax({
            url: "/comment",
            method : "POST",
            data : form.serialize(),
            cache :false,
            success:function (data) {
                data_json = JSON.parse(data)

                li = document.createElement("li");
                a= document.createElement("a");
                comment = document.createElement("comment");
                a.href = "hello";
                list = document.getElementById("comment-list");
                var br = document.createElement('br');

                a.innerText = data_json.name;
                comment.innerText = data_json.comment;
                li.appendChild(a);
                li.appendChild(br)
                li.appendChild(comment)
                list.appendChild(li)

                alert(data_json.response)




            }
        });

        return false;
    });
        $("#card_add").click(function (e){
            window.location.href = '/pdf_show/{{ url}}';
        });

    })






</script>

{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">

{% endblock %}

