{% extends 'dashboard/main/include.html' %}
{% load static %}
{% block content %}
{% include "dashboard/main/header.html" %}
    <div class="row">
    <div class="col-2 ">

    </div>
    <div class="col-8 " style="margin-top: 8px ;">


        <div class="container">
            <div class="title">
                <h3>{{ title }}</h3>
            </div>
            <div class="contshowp">
                <img width="300px" src="{{ MEDIA_URL }}{{ img }}">
                {{ book_data }}
            </div>

        </div>


    </div>
    <div class="col-2 ">

    </div>


    </div>

{% endblock %}