.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;

  top: 0;
  left: 0;
  margin-top: 55px;
  box-shadow: 10px 0 5px -2px #888;


  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  width: 250px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}





#main {
  transition: margin-left .5s;
  margin-left: 70px;
  margin-top: auto;
  margin-bottom: auto;

  padding: 16px;
}

.sidenav a h4{
  background-color: aqua;
  margin-left: 40px;
  font-size: 20px;
  display: inline-block;
}
.sidenav a i{
  font-size: 2rem;
  display: inline-block;
}
.menu-dashboard {

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
.childlist{
  margin: 40px 0;
  list-style-type: none;
}

.childlist li{
  margin: 0 60px;
  display: inline-block;
}


.childcard{
  width: 100px;
  height: 100px;
  overflow: hidden;

  border-radius: 50%;
  background-color: #b6b6b6;
  position: relative;
  text-align: center;


}
.childcard p{
  position: absolute;
  bottom: 0;
  border-radius: 0 0 100% 100% ;
  margin: 0 auto;
  background-color: #818181;
  width: 100%;
}

.childcard img{
border-radius: 50%;
}

.check-child-online{
  width: 8px;
  height: 8px;

  border: 1px solid black;


  border-radius: 50%;


  z-index: 1000;

  background-color: greenyellow;
}
.childcard img{
  width: 100%;

}
.project-title{
  margin: 60px;
  padding: 30px;
  font-size: 40px;
  border: 2px solid black;
  background-color: black;
}