<nav id="nav-bar-frame">
    <a href="http://{{ request.get_host }}" id="nav-bar-brand" >Zeppter</a>
     <ul id="nav-bar">
     <li><form id="search" method="get" action="/search">
                     <input type="hidden" name="page" value="1">
                 <div class="input-group rounded">
  <input type="search" class="form-control rounded" name="search" id="search_input" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
                     </form></li>

  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>




     </ul>
    {% if 'email' in request.session %}
        <div class="dropdown-frame nav-item dropdown" style="cursor:pointer; margin-left: 20px" >
        <div class="header-c-img"  href="#" id="navuserDropdown" >
            <img src="{{ MEDIA_URL }}{{ userdata.photo }}" width="100%" height="100%">
        </div>
        <div class="dropdown-menu dropdown-menu-md-right " >
          <a class="dropdown-item" href="/user/data/{{ userdata.id }}">Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </div>

        </div>



    {% else %}
    <a href="/user/login" class="btn btn-danger">login</a>
    {% endif %}


</nav>

