<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    





    <!-- boostrap-->
    <!--link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}"-->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/card/card.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}">
     <script src="{% static "assets/jquery/mainjquery.js" %}"></script>
<script src="{% static "assets/pooper/popper.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>









</head>
<body>

<header>
    

</header>
<main class="dashboard-main" >
    {% include "dashboard/include/main.html" %}

    

</main>


<footer></footer>


</body>
</html>
<script>
    {% include "dashboard/include/main.js" %}
</script>






