<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta.title}}</title>

    





    <!-- boostrap-->
    <!--link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}"-->
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dashboard/main3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/card/card.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}">
{% if meta %}
    {% include "mobile/dashboard/load/header.html" %}

{% endif %}
     <script src="{% static "assets/jquery/mainjquery.js" %}"></script>
<script src="{% static "assets/pooper/popper.min.js" %}"></script>

<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-21S7DW3W4Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-21S7DW3W4Q');
</script>









</head>
<body>

<header>

    {% include "dashboard/include/header.html" %}

</header>
<main class="dashboard-main" >
    {% include "dashboard/include/main.html" %}

    

</main>


<footer>
    {% include "dashboard/main/footer.html" %}
</footer>


</body>
</html>
<script>
    {% include "dashboard/include/main.js" %}
</script>






